<button mat-fab aria-label="Example icon button with a delete icon">
  <mat-icon>text_fields</mat-icon>
  <!--  on first page, choose text type-->
</button>
<button mat-fab aria-label="Example icon button with a delete icon">
  <mat-icon>add_photo_alternate</mat-icon>
  <!--  on first page, choose image type-->
</button>
<button mat-fab aria-label="Example icon button with a delete icon">
  <mat-icon>close</mat-icon>
  <!--  delete canvas-->
</button>
<button mat-fab aria-label="Example icon button with a delete icon">
  <mat-icon>opacity</mat-icon>
  <!--  change background opacity-->
</button>
<button mat-fab aria-label="Example icon button with a delete icon">
  <mat-icon>eject</mat-icon>
<!--  change canvas type-->
</button>
